skillhub.8-219-155-68.sslip.io, skillhub.ken-chy129.cn {
	encode zstd gzip
	header {
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		X-Frame-Options DENY
	}
	request_body {
		max_size 60MB
	}
	reverse_proxy 127.0.0.1:8480
}
